@font-face {
  font-family: "Lemon Milk Pro";
  font-size: 400;
  font-style: normal;
  src: url("/fonts/lemon_milk_pro/regular.woff2") format("woff2"), url("/fonts/lemon_milk_pro/regular.woff") format("woff"), url("/fonts/lemon_milk_pro/regular.otf") format("opentype"),
}
